In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
import sqlite3

In [7]:
df = pd.read_csv('test_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   uranium_lead_ratio          1100 non-null   float64
 1   carbon_14_ratio             1100 non-null   float64
 2   radioactive_decay_series    1100 non-null   float64
 3   stratigraphic_layer_depth   1100 non-null   float64
 4   geological_period           1100 non-null   object
 5   paleomagnetic_data          1100 non-null   object
 6   inclusion_of_other_fossils  1100 non-null   bool
 7   isotopic_composition        1100 non-null   float64
 8   surrounding_rock_type       1100 non-null   object
 9   stratigraphic_position      1100 non-null   object
 10  fossil_size                 1100 non-null   float64
 11  fossil_weight               1100 non-null   float64
 12  age                         1100 non-null   int64
dtypes: bool(1), float64(7), int64(1), object(4)
memory usage: 104.3+ KB

In [4]:
conn = sqlite3.connect('fossil_age.db')
cursor = conn.cursor()

In [9]:
cursor.execute('''CREATE TABLE IF NOT EXISTS fossil (
               id INTEGER PRIMARY KEY,
               uranium_lead_ratio FLOAT, 
               carbon_14_ratio FLOAT,
               radioactive_decay_series FLOAT,
               stratigraphic_layer_depth FLOAT,
               geological_period TEXT,
               paleomagnetic_data TEXT,
               inclusion_of_other_fossils BINARY,
               isotopic_composition FLOAT,
               surrounding_rock_type TEXT,
               stratigraphic_position TEXT,
               fossil_size FLOAT,
               fossil_weight FLOAT,
               age INTEGER
               )''')

In [10]:
df["inclusion_of_other_fossils"] = df["inclusion_of_other_fossils"].astype(int)

In [20]:
for index, row in df.iterrows():
    cursor.execute('''INSERT INTO fossil (
                   uranium_lead_ratio, 
                   carbon_14_ratio, 
                   radioactive_decay_series,
                   stratigraphic_layer_depth,
                   geological_period,
                   paleomagnetic_data,
                   inclusion_of_other_fossils,
                   isotopic_composition,
                   surrounding_rock_type,
                   stratigraphic_position,
                   fossil_size,
                   fossil_weight,
                   age) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''', row)

C:\Users\User\AppData\Local\Temp\ipykernel_51188\3932718477.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cursor.execute('''INSERT INTO fossil (

In [32]:
cursor.execute('''SELECT age, fossil_size FROM fossil WHERE inclusion_of_other_fossils IS 0 ORDER BY fossil_size DESC''')
cursor.fetchall()

[(68778, 168.55),
 (49164, 165.23),
 (54156, 164.71),
 (45654, 158.92),
 (33325, 155.52),
 (38155, 152.59),
 (39333, 151.75),
 (18687, 146.57),
 (42803, 145.83),
 (50524, 142.83),
 (32249, 141.07),
 (39919, 140.42),
 (61975, 140.4),
 (30272, 139.93),
 (12811, 138.47),
 (35775, 138.45),
 (46115, 138.35),
 (36737, 137.67),
 (68823, 137.36),
 (26077, 137.17),
 (34507, 135.75),
 (31306, 135.02),
 (23140, 134.34),
 (36808, 130.06),
 (30272, 129.66),
 (22907, 129.58),
 (33965, 129.22),
 (36073, 127.74),
 (42822, 127.34),
 (39452, 125.37),
 (62278, 123.53),
 (48435, 123.22),
 (40619, 120.89),
 (41072, 120.12),
 (25566, 119.72),
 (47408, 119.35),
 (42232, 119.31),
 (26011, 118.33),
 (56261, 118.31),
 (33867, 118.24),
 (53217, 117.29),
 (8427, 116.54),
 (26143, 116.41),
 (44759, 115.78),
 (51101, 115.6),
 (13309, 114.39),
 (35003, 113.5),
 (22498, 113.43),
 (23030, 113.17),
 (49227, 112.92),
 (54881, 112.57),
 (33989, 112.54),
 (54213, 112.48),
 (51445, 112.26),
 (63251, 112.25),
 (23620, 111.59),
 (75019, 111.19),
 (28792, 110.66),
 (33650, 110.1),
 (34890, 108.77),
 (43704, 108.28),
 (43483, 108.27),
 (45848, 107.32),
 (19905, 106.99),
 (37180, 106.95),
 (35464, 106.6),
 (23781, 106.39),
 (39696, 105.74),
 (50436, 105.47),
 (63754, 105.4),
 (47617, 105.38),
 (44568, 105.14),
 (60011, 105.05),
 (22851, 104.73),
 (41025, 104.1),
 (20038, 103.96),
 (46865, 102.79),
 (52973, 102.53),
 (52963, 102.21),
 (33314, 101.77),
 (23230, 101.69),
 (28669, 101.63),
 (54542, 101.4),
 (17409, 100.82),
 (43907, 100.18),
 (53586, 99.82),
 (40979, 99.73),
 (51562, 99.6),
 (61466, 99.51),
 (47984, 99.41),
 (34795, 98.58),
 (41789, 98.06),
 (22596, 97.87),
 (59340, 97.82),
 (27771, 97.55),
 (43924, 96.86),
 (51130, 96.26),
 (23847, 95.24),
 (39124, 95.15),
 (34151, 94.99),
 (24938, 94.97),
 (59253, 94.8),
 (32834, 94.21),
 (58294, 94.04),
 (45179, 93.56),
 (35713, 93.04),
 (41114, 92.85),
 (34696, 92.56),
 (39242, 92.51),
 (41746, 91.8),
 (45731, 91.58),
 (43966, 91.15),
 (46788, 90.58),
 (23060, 90.56),
 (32702, 90.28),
 (52994, 90.26),
 (17040, 90.1),
 (39238, 89.87),
 (37569, 89.24),
 (44447, 89.14),
 (27940, 89.1),
 (42868, 89.03),
 (71755, 88.44),
 (45436, 88.17),
 (43997, 87.69),
 (25263, 87.28),
 (42979, 87.15),
 (47613, 87.03),
 (37138, 86.2),
 (52894, 86.18),
 (19698, 85.78),
 (25448, 85.49),
 (67191, 85.08),
 (41622, 84.94),
 (62109, 83.79),
 (29536, 83.78),
 (40489, 83.42),
 (68945, 83.4),
 (16290, 83.21),
 (49992, 83.0),
 (25921, 82.43),
 (39792, 82.22),
 (34582, 81.78),
 (34688, 81.77),
 (31324, 81.07),
 (48427, 80.85),
 (36988, 80.85),
 (53805, 80.03),
 (40808, 79.86),
 (16027, 79.81),
 (66826, 79.62),
 (40931, 79.42),
 (28717, 79.11),
 (70441, 78.96),
 (43454, 78.6),
 (29642, 78.05),
 (28694, 77.68),
 (48770, 77.15),
 (52262, 76.88),
 (48569, 76.76),
 (48381, 76.41),
 (12839, 76.39),
 (21425, 76.25),
 (69050, 75.37),
 (37844, 75.26),
 (26637, 75.01),
 (47803, 73.75),
 (33821, 72.72),
 (43402, 72.62),
 (33515, 71.82),
 (75666, 71.73),
 (56442, 71.61),
 (42285, 71.61),
 (52770, 71.56),
 (6782, 71.34),
 (67929, 70.55),
 (54578, 70.53),
 (7916, 70.28),
 (81585, 69.85),
 (34975, 69.82),
 (30564, 69.04),
 (34977, 68.9),
 (29846, 68.9),
 (24554, 68.67),
 (46068, 68.67),
 (51844, 68.6),
 (41606, 68.24),
 (64764, 68.18),
 (39715, 67.69),
 (28126, 67.6),
 (46558, 67.56),
 (38407, 67.22),
 (26947, 66.79),
 (63561, 65.84),
 (39963, 65.76),
 (30142, 65.66),
 (26376, 65.4),
 (52373, 65.0),
 (58487, 64.45),
 (35305, 64.0),
 (37763, 63.66),
 (38501, 62.75),
 (27266, 62.73),
 (45520, 62.47),
 (33099, 62.15),
 (35794, 62.13),
 (29019, 61.8),
 (66928, 61.57),
 (49279, 61.56),
 (23821, 61.43),
 (11158, 61.29),
 (19121, 60.92),
 (50528, 60.8),
 (92421, 60.75),
 (42573, 59.97),
 (33840, 59.6),
 (52445, 59.27),
 (24445, 59.23),
 (28140, 58.51),
 (59950, 58.45),
 (33314, 58.34),
 (19183, 58.29),
 (29634, 58.01),
 (62075, 57.98),
 (24011, 57.91),
 (49705, 56.61),
 (62035, 56.28),
 (56442, 56.2),
 (37744, 55.91),
 (42655, 55.14),
 (41045, 55.05),
 (40145, 54.56),
 (23296, 54.38),
 (28783, 54.3),
 (39344, 54.19),
 (29537, 53.38),
 (30369, 53.14),
 (28695, 52.9),
 (39788, 52.85),
 (36555, 52.8),
 (17527, 52.64),
 (48239, 52.62),
 (20519, 52.1),
 (30901, 50.63),
 (60254, 50.52),
 (28694, 49.67),
 (28038, 49.61),
 (21650, 49.43),
 (61240, 48.87),
 (36527, 48.82),
 (34551, 47.92),
 (65531, 47.87),
 (50713, 47.01),
 (26077, 46.88),
 (35529, 46.69),
 (30610, 46.49),
 (40112, 46.37),
 (26962, 46.35),
 (81956, 45.91),
 (16994, 45.82),
 (52070, 45.81),
 (54890, 45.55),
 (36769, 45.24),
 (64241, 44.99),
 (46940, 44.87),
 (75600, 44.41),
 (36677, 44.22),
 (19439, 44.07),
 (38373, 44.04),
 (42283, 43.74),
 (40125, 43.16),
 (18271, 43.0),
 (51303, 42.03),
 (33011, 41.88),
 (33777, 41.83),
 (51208, 41.52),
 (49329, 41.48),
 (30438, 41.46),
 (14296, 41.29),
 (37752, 41.0),
 (9702, 40.53),
 (34761, 40.31),
 (52458, 40.25),
 (6106, 39.73),
 (41526, 39.62),
 (20130, 39.39),
 (19837, 39.18),
 (33284, 39.17),
 (41533, 38.83),
 (50599, 38.76),
 (31021, 38.68),
 (19429, 38.35),
 (34091, 37.43),
 (33967, 37.27),
 (42068, 37.16),
 (49427, 36.78),
 (28277, 36.77),
 (46359, 36.65),
 (33105, 36.29),
 (33900, 36.2),
 (59922, 35.89),
 (44022, 34.79),
 (42164, 34.52),
 (54687, 34.02),
 (35822, 33.98),
 (41357, 33.64),
 (58102, 33.19),
 (36796, 33.1),
 (60505, 32.85),
 (18436, 32.59),
 (30450, 32.56),
 (28157, 32.54),
 (25216, 32.47),
 (29859, 32.37),
 (66080, 32.01),
 (20772, 31.85),
 (53074, 31.55),
 (23838, 31.47),
 (19004, 31.46),
 (23908, 31.44),
 (54872, 30.72),
 (28519, 29.63),
 (29445, 29.42),
 (50352, 29.38),
 (80323, 28.48),
 (43826, 28.39),
 (22920, 28.34),
 (36851, 27.9),
 (53059, 27.46),
 (26078, 26.93),
 (73577, 26.81),
 (55624, 26.26),
 (47189, 25.67),
 (44136, 25.2),
 (74218, 24.84),
 (30019, 24.3),
 (30829, 23.64),
 (84416, 23.48),
 (26282, 22.58),
 (54619, 22.03),
 (41166, 21.88),
 (14114, 20.85),
 (40792, 20.28),
 (24272, 20.03),
 (23191, 18.88),
 (28603, 18.61),
 (54211, 18.39),
 (44559, 17.94),
 (52144, 17.85),
 (47530, 17.84),
 (70348, 17.62),
 (50807, 17.5),
 (44820, 17.43),
 (86052, 16.99),
 (18828, 16.75),
 (28669, 16.02),
 (46319, 15.74),
 (34030, 15.49),
 (70760, 15.33),
 (24541, 14.84),
 (43540, 13.14),
 (28726, 12.14),
 (69532, 11.88),
 (15416, 11.47),
 (78347, 11.16),
 (57480, 11.09),
 (30215, 10.95),
 (29375, 10.57),
 (47410, 10.54),
 (58733, 9.27),
 (51556, 8.78),
 (93741, 8.26),
 (23737, 7.41),
 (24598, 7.37),
 (69717, 6.87),
 (36163, 5.58),
 (53071, 4.55),
 (47658, 4.46),
 (35146, 4.46),
 (59830, 3.19),
 (68056, 1.57)]

In [36]:
cursor.execute('''SELECT age, fossil_size, fossil_weight FROM fossil ORDER BY fossil_size, fossil_weight DESC LIMIT 10''')
cursor.fetchall()

[(42193, 1.36, 256.6),
 (68056, 1.57, 179.06),
 (62063, 1.72, 429.68),
 (56953, 2.13, 69.64),
 (10690, 2.74, 712.03),
 (66752, 2.82, 164.56),
 (59830, 3.19, 333.65),
 (62090, 4.03, 483.46),
 (33809, 4.22, 126.99),
 (34139, 4.39, 151.08)]

In [38]:
conn.commit()
conn.close()